In [2]:
# import some libraries
import pandas as pd
import numpy as np

In [3]:
bus = pd.read_csv('businesstype_v2_0.csv')
spo = pd.read_csv('activity_v2_0.csv')

In [4]:
bus.head()

                      place_id           Type
0  ChIJnc-kCFw21moR-O84vUwjjTM  Swimming Club
1  ChIJV5zTXLpNzWoRKdMXeO49xpE  Swimming Club
2  ChIJZ28toY0_1moRIKoSaJU36AM  Swimming Club
3  ChIJud2iLApo1moRpnfMpGO_mcQ  Swimming Club
4  ChIJk4SJNWBA1moRxEt3tTgM20A  Swimming Club

In [5]:
spo.head()

,place_id,Name,formattedAddress,longitude,latitude,Suburb,State,Postcode
0,ChIJnc-kCFw21moR-O84vUwjjTM,Eltham Swimming School,"1441 Main Rd, Eltham VIC 3095, Australia",145.175774,-37.701532,Eltham,VIC,3095
1,ChIJV5zTXLpNzWoRKdMXeO49xpE,Jayson Lamb’s Splash Factory,"Grafton Rd, Warrnambool VIC 3280, Australia",142.501409,-38.379052,Warrnambool,VIC,3280
2,ChIJZ28toY0_1moRIKoSaJU36AM,Just Swimming Wesley,"Wesley College, 554 High St Rd, Mount Waverley...",145.146906,-37.872370,Mount Waverley,VIC,3149
3,ChIJud2iLApo1moRpnfMpGO_mcQ,Melbourne Vicentre Swimming Club,"Aughtie Dr, Albert Park VIC 3206, Australia",144.960939,-37.841647,Albert Park,VIC,3206
4,ChIJk4SJNWBA1moRxEt3tTgM20A,Melbourne Vicentre Swimming Club,"Ranfurlie Cres, Glen Iris VIC 3146, Australia",145.054289,-37.861586,Glen Iris,VIC,3146

In [7]:
new = pd.merge(spo, bus)

In [9]:
new[new.isnull().any(1)]

Empty DataFrame
Columns: [place_id, Name, formattedAddress, longitude, latitude, Suburb, State, Postcode, Type]
Index: []

In [10]:
new.head()

,place_id,Name,formattedAddress,longitude,latitude,Suburb,State,Postcode,Type
0,ChIJnc-kCFw21moR-O84vUwjjTM,Eltham Swimming School,"1441 Main Rd, Eltham VIC 3095, Australia",145.175774,-37.701532,Eltham,VIC,3095,Swimming Club
1,ChIJV5zTXLpNzWoRKdMXeO49xpE,Jayson Lamb’s Splash Factory,"Grafton Rd, Warrnambool VIC 3280, Australia",142.501409,-38.379052,Warrnambool,VIC,3280,Swimming Club
2,ChIJZ28toY0_1moRIKoSaJU36AM,Just Swimming Wesley,"Wesley College, 554 High St Rd, Mount Waverley...",145.146906,-37.872370,Mount Waverley,VIC,3149,Swimming Club
3,ChIJud2iLApo1moRpnfMpGO_mcQ,Melbourne Vicentre Swimming Club,"Aughtie Dr, Albert Park VIC 3206, Australia",144.960939,-37.841647,Albert Park,VIC,3206,Swimming Club
4,ChIJk4SJNWBA1moRxEt3tTgM20A,Melbourne Vicentre Swimming Club,"Ranfurlie Cres, Glen Iris VIC 3146, Australia",145.054289,-37.861586,Glen Iris,VIC,3146,Swimming Club

In [11]:
new.to_csv('activity_v3_0_withtype.csv')