In [14]:
import pandas as pd
import numpy as np
import os
import re

In [15]:
# using pd.ExcelFile() method
filename = 'table 19 average time spent on physical activity, children aged 5-17 years.xls'
data = pd.ExcelFile(filename)

In [16]:
#########

In [17]:
# wait to parse all tables out
# reference: https://stackoverflow.com/questions/26474693/excelfile-vs-read-excel-in-pandas
data.sheet_names

['Contents', 'Table_19_1', 'Table_19_2', 'Table_19_3']

In [18]:
# drop rows and columns with all null values
df = data.parse('Table_19_1', skiprows= 5).dropna(axis= 0, how= 'all').dropna(axis= 1, how = 'all')

In [19]:
df.shape

(72, 10)

In [20]:
df

,Unnamed: 0,Walked,Rode bike/ skateboard/ scooter/ rollerblades,Total active transport(c),Organised,Non-organised,Total organised or non-organised(c),Per week day,Per weekend day,Per day
0,MINUTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Male,13.0,6,19.0,22.0,56.0,78.0,91,112,97
3,Female,15.0,3,18.0,20.0,47.0,67.0,81,92,84
5,Age group (years),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,5–8,9.0,4,13.0,16.0,91.0,107.0,110,146,120
7,9–11,12.0,6,18.0,24.0,53.0,77.0,90,109,95
8,12–14,15.0,5,20.0,25.0,33.0,58.0,75,85,78
9,15–17,21.0,2,24.0,18.0,20.0,38.0,63,57,62
11,State or territory of usual residence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,New South Wales,14.0,4,19.0,20.0,48.0,67.0,80,100,86
13,Victoria,14.0,3,18.0,22.0,51.0,73.0,88,96,90
14,Queensland,12.0,5,17.0,19.0,52.0,71.0,80,108,88
15,South Australia,10.0,2,12.0,24.0,60.0,84.0,97,93,96
16,Western Australia,18.0,7,25.0,22.0,60.0,82.0,103,117,107
17,Tasmania,17.0,3,19.0,23.0,59.0,82.0,98,109,101
18,Northern Territory,14.0,8,22.0,19.0,52.0,70.0,90,96,92
19,Australian Capital Territory,13.0,5,18.0,23.0,47.0,69.0,83,97,87
21,Remoteness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Major Cities of Australia,14.0,3,18.0,22.0,47.0,68.0,83,94,86
23,Inner Regional Australia,14.0,5,19.0,17.0,65.0,82.0,93,122,101
24,Outer Regional and Remote Australia,13.0,8,21.0,21.0,57.0,78.0,93,114,99
26,Index of Relative Socio-Economic Disadvantage(d),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,First quintile,17.0,7,25.0,13.0,54.0,67.0,86,104,91
28,Second quintile,14.0,4,18.0,14.0,52.0,67.0,79,100,85
29,Third quintile,11.0,3,14.0,22.0,54.0,76.0,88,98,90
30,Fourth quintile,16.0,3,19.0,24.0,51.0,75.0,90,106,94
31,Fifth quintile,12.0,4,17.0,27.0,48.0,76.0,88,104,92
33,Household structure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Couple with children,12.0,3,16.0,23.0,54.0,76.0,87,104,92
...,...,...,...,...,...,...,...,...,...,...
50,School day(e),11.0,2,13.0,29.0,39.0,68.0,. .,. .,81
51,Non-school day(f),17.0,6,23.0,13.0,63.0,77.0,. .,. .,100
52,Week day,14.0,4,18.0,23.0,46.0,69.0,86,. .,. .
53,Weekend day,14.0,6,20.0,15.0,67.0,82.0,. .,102,. .
55,Bedroom screen-based equipment(g),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Has screen-based bedroom equipment,17.0,4,20.0,20.0,43.0,63.0,80,93,84
57,Does not have screen-based bedroom equipment,11.0,5,16.0,21.0,60.0,82.0,93,111,98
59,Health risk factors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Underweight/Normal range(h),15.0,4,19.0,22.0,52.0,74.0,88,106,93
61,Overweight/Obese(h),15.0,4,19.0,19.0,44.0,63.0,80,87,82
63,Adequate fruit and vegetable consumption(i),12.0,5,17.0,18.0,83.0,101.0,110,139,118
64,Inadequate fruit and vegetable consumption(i),15.0,4,19.0,21.0,42.0,64.0,79,91,83
66,Met physical activity recommendation all days ...,18.0,9,26.0,24.0,124.0,148.0,158,215,174
67,Did not meet physical activity recommendation ...,4.0,**0,4.0,1.0,3.0,3.0,8,5,7
69,Met screen-based activity recommendation on al...,13.0,5,18.0,23.0,61.0,84.0,96,118,102
70,Did not meet screen-based activity recommendat...,15.0,10,25.0,13.0,34.0,47.0,67,84,72
72,Total children 5–17 years,14.0,4,18.0,21.0,52.0,72.0,86,102,91
74,. . Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,(a) In 7 days prior to interview.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,(b) Moderate to vigorous physical activities a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,(c) Sum of components may not add to total as ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,(d) Based on the 2011 Index of Relative Socio-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,(e) School day is defined as a day when the ch...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,(f) Includes children who are home-schooled or...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,"(g) Screen-based equipment includes TV, DVD/Bl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,(h) Measured BMI. Includes only those persons ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,(i) See Dietary guidelines in Glossary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,(j) The physical activity recommendation for c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,(k) The screen-based activity recommendation f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,© Commonwealth of Australia 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# row indexes
row_ind = df.iloc[:,0]
#row_ind
#df.drop(columns=df.columns[0],inplace=True)
df

,Unnamed: 0,AVERAGE TIME SPENT ON ACTIVE TRANSPORT PER DAY(a),Unnamed: 2,Unnamed: 3,AVERAGE TIME SPENT ON MODERATE /VIGOROUS PHYSICAL ACTIVITY PER DAY(a)(b),Unnamed: 6,Unnamed: 7,AVERAGE TIME SPENT ON TOTAL PHYSICAL ACTIVITY PER DAY TYPE(a),Unnamed: 10,Unnamed: 11
0,NaN,Walked,Rode bike/ skateboard/ scooter/ rollerblades,Total active transport(c),Organised,Non-organised,Total organised or non-organised(c),Per week day,Per weekend day,Per day
1,MINUTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sex,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Male,13,6,19,22,56,78,91,112,97
4,Female,15,3,18,20,47,67,81,92,84
6,Age group (years),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,5–8,9,4,13,16,91,107,110,146,120
8,9–11,12,6,18,24,53,77,90,109,95
9,12–14,15,5,20,25,33,58,75,85,78
10,15–17,21,2,24,18,20,38,63,57,62
12,State or territory of usual residence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,New South Wales,14,4,19,20,48,67,80,100,86
14,Victoria,14,3,18,22,51,73,88,96,90
15,Queensland,12,5,17,19,52,71,80,108,88
16,South Australia,10,2,12,24,60,84,97,93,96
17,Western Australia,18,7,25,22,60,82,103,117,107
18,Tasmania,17,3,19,23,59,82,98,109,101
19,Northern Territory,14,8,22,19,52,70,90,96,92
20,Australian Capital Territory,13,5,18,23,47,69,83,97,87
22,Remoteness,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Major Cities of Australia,14,3,18,22,47,68,83,94,86
24,Inner Regional Australia,14,5,19,17,65,82,93,122,101
25,Outer Regional and Remote Australia,13,8,21,21,57,78,93,114,99
27,Index of Relative Socio-Economic Disadvantage(d),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,First quintile,17,7,25,13,54,67,86,104,91
29,Second quintile,14,4,18,14,52,67,79,100,85
30,Third quintile,11,3,14,22,54,76,88,98,90
31,Fourth quintile,16,3,19,24,51,75,90,106,94
32,Fifth quintile,12,4,17,27,48,76,88,104,92
34,Household structure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
51,School day(e),11,2,13,29,39,68,. .,. .,81
52,Non-school day(f),17,6,23,13,63,77,. .,. .,100
53,Week day,14,4,18,23,46,69,86,. .,. .
54,Weekend day,14,6,20,15,67,82,. .,102,. .
56,Bedroom screen-based equipment(g),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,Has screen-based bedroom equipment,17,4,20,20,43,63,80,93,84
58,Does not have screen-based bedroom equipment,11,5,16,21,60,82,93,111,98
60,Health risk factors,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,Underweight/Normal range(h),15,4,19,22,52,74,88,106,93
62,Overweight/Obese(h),15,4,19,19,44,63,80,87,82
64,Adequate fruit and vegetable consumption(i),12,5,17,18,83,101,110,139,118
65,Inadequate fruit and vegetable consumption(i),15,4,19,21,42,64,79,91,83
67,Met physical activity recommendation all days ...,18,9,26,24,124,148,158,215,174
68,Did not meet physical activity recommendation ...,4,**0,4,1,3,3,8,5,7
70,Met screen-based activity recommendation on al...,13,5,18,23,61,84,96,118,102
71,Did not meet screen-based activity recommendat...,15,10,25,13,34,47,67,84,72
73,Total children 5–17 years,14,4,18,21,52,72,86,102,91
75,. . Not applicable,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,(a) In 7 days prior to interview.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,(b) Moderate to vigorous physical activities a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,(c) Sum of components may not add to total as ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,(d) Based on the 2011 Index of Relative Socio-...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,(e) School day is defined as a day when the ch...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,(f) Includes children who are home-schooled or...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,"(g) Screen-based equipment includes TV, DVD/Bl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,(h) Measured BMI. Includes only those persons ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,(i) See Dietary guidelines in Glossary.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,(j) The physical activity recommendation for c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,(k) The screen-based activity recommendation f...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,© Commonwealth of Australia 2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# deal with row
row_ind_new = []
for i in range(row_ind.shape[0]):
    if row_ind.iloc[i,] is not np.NaN:
            #print(row_ind.iloc[i,])
            row_ind_new.append(row_ind.iloc[i,])
            if row_ind.iloc[i,].startswith('Total'):
                break
row_ind_new

['MINUTES',
 'Sex',
 'Male',
 'Female',
 'Age group (years)',
 '5–8',
 '9–11',
 '12–14',
 '15–17',
 'State or territory of usual residence',
 'New South Wales',
 'Victoria',
 'Queensland',
 'South Australia',
 'Western Australia',
 'Tasmania',
 'Northern Territory',
 'Australian Capital Territory',
 'Remoteness',
 'Major Cities of Australia',
 'Inner Regional Australia',
 'Outer Regional and Remote Australia',
 'Index of Relative Socio-Economic Disadvantage(d)',
 'First quintile',
 'Second quintile',
 'Third quintile',
 'Fourth quintile',
 'Fifth quintile',
 'Household structure',
 'Couple with children',
 'One person with children',
 'All other households ',
 'Equivalised household income',
 'First quintile',
 'Second quintile',
 'Third quintile',
 'Fourth quintile',
 'Fifth quintile',
 'Country of birth',
 'Australia',
 'Born overseas',
 'Type of day',
 'School day(e)',
 'Non-school day(f)',
 'Week day',
 'Weekend day',
 'Bedroom screen-based equipment(g)',
 'Has screen-based bedroom equipment',
 'Does not have screen-based bedroom equipment',
 'Health risk factors',
 'Underweight/Normal range(h)',
 'Overweight/Obese(h)',
 'Adequate fruit and vegetable consumption(i)',
 'Inadequate fruit and vegetable consumption(i)',
 'Met physical activity recommendation all days over 7 days(j)',
 'Did not meet physical activity recommendation on any day over 7 days(j)',
 'Met screen-based activity recommendation on all days over 7 days(k)',
 'Did not meet screen-based activity recommendation on any day over 7 days(k)',
 'Total children 5–17 years']

In [ ]:
# method 1: split into three tables by 0:4, 4:7, 7:, columns
df1 = df.iloc[2:,0:4]
df2 = df.iloc[2:,4:7]
df3 = df.iloc[2:,7:]

In [ ]:
# merge the first three rows into one
newrow = df1.iloc[0:2,:]
newrow

In [ ]:
df1

In [ ]:
# method 2: split data into tables by rows
# in this way we can keep the column name
# and deal with them later

In [ ]:
for i in range(df.shape[0]):
    print()

In [13]:
nullrow = list(df[df.isnull().any(1)].index)
nullrow

[0,
 1,
 2,
 6,
 12,
 22,
 27,
 34,
 39,
 46,
 50,
 56,
 60,
 75,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 89]

In [ ]:
row_ind_new = []
for i in range(row_ind.shape[0]):
    #if row_ind.iloc[i,] is not np.NaN:
        #print(row_ind.iloc[i,])
        
        #continue
    #if re.findall(r'Total', row_ind.iloc[i,]) is not None:
        #print(row_ind.iloc[i,])
        
    if type(row_ind.iloc[i,]) == float:
        print(row_ind.iloc[i,])
        #print(i)

In [ ]:
import numpy as np
import pandas as pd

# reference: https://stackoverflow.com/questions/43173297/extract-multiple-tables-from-spreadsheet-using-python

In [ ]:
# I have assumed that the tables are "separated" by at least one row with only NaN values

df=pd.DataFrame(np.nan,index=range(0,10),columns=range(0,10))
df.iloc[1,2:5]=['t1h1','t1h2','t1h3']
df.iloc[2:5,2:5]=np.random.randn(3,3)
df.iloc[6,3:7]=['t2h1','t2h2','t2h3','t2h4']
df.iloc[7:9,3:7]=np.random.randn(2,4)

print(df)

In [ ]:
# Extract by rows

nul_rows = list(df[df.isnull().all(axis=1)].index)

list_of_dataframes = []
for i in range(len(nul_rows) - 1):
    list_of_dataframes.append(df.iloc[nul_rows[i]+1:nul_rows[i+1],:])

In [ ]:
df.isnull()

In [ ]:
df[~(df.isnull().all(1))]

In [ ]:
list_of_dataframes

In [ ]:
# Remove null columns

cleaned_tables = []
for _df in list_of_dataframes:
    cleaned_tables.append(_df.dropna(axis=1, how='all'))

In [ ]:
cleaned_tables

In [ ]:
# cleaned_tables is a list of the dataframes

print(cleaned_tables[0])
print(cleaned_tables[1])